add_ace group.admin command allow # allow all commands

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands
add_ace resource.ox_lib command.add_ace allow # Allow ox_lib to execute commands
add_ace resource.ox_lib command.remove_ace allow # Allow ox_lib to execute commands
add_ace resource.ox_lib command.add_principal allow # Allow ox_lib to execute commands
add_ace resource.ox_lib command.remove_principal allow # Allow ox_lib to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands