## FiveM Documentation
## https://aka.cfx.re/server-commands

## You CAN edit the following:
{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "default, deployer, qbcore, qb-core"

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}}!"
sets sv_projectName "{{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "en-US"
load_server_icon myLogo.png
set sv_enforceGameBuild 2802
set mysql_connection_string "{{dbConnectionString}}"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_enableUi 0
setr voice_defaultCycle "GRAVE"
setr voice_defaultRadioVolume 60
setr voice_defaultCallVolume 80
setr voice_enableRadioAnim 1

# Removes animation when going into noclip mode
set txAdmin-menuPtfxDisable true

# Eliminate joins and quits
setr chat_showQuits 0
setr chat_showJoins 0

# Set pure mode
sv_pureLevel 0

# QBCore locale config
setr qb_locale "en"

# QBCore UseTarget
setr UseTarget false

# illenium-appearance locale config
setr illenium-appearance:locale "en"

# Ox resource settings
exec ox.cfg

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure ox_lib
ensure qb-core
enusre ox_target
ensure [ox]
ensure [lib]
ensure [qb]
ensure [standalone]
ensure [voice]
ensure [defaultmaps]

## Permissions ##
{{addPrincipalsMaster}}
exec permissions.cfg
